td {color: red; max-width: 5px}
h1 {color: purple;}
body {background-color: lightblue;}
p {
    border-left: 6px solid red;
    background-color: lightgrey;
}
p {
    font-family: "Times New Roman", Times, serif;
}
h1 {text-align: center;}
ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}
